html {
    background-color: #141313;
}

.Skills {
    background-color: #141313;
    color: white;
    padding-bottom: 5%;
    display: flex;    
}

.Skills p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.Skills .List ul {
    list-style-type: none;
    padding: 0;
}

.CodeGif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skills .Container {
    display: flex;
    flex-wrap: wrap;
}

.Skills .Container .List {
    flex-basis: 33%;
    background-color: black;
    box-shadow: 0 0 12px 4px white;
    border-radius: 9px;
    margin-bottom: 2px;
}

.Skills .List ul li {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.codeGif {
    animation: pulse 0.3s linear 1;

}

@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }

.projects {
    list-style: none;
}

.project {
    font-size: 30px;;
}