.AboutMe {
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

/* .AboutMe .Box {
    display: flex;
} */

/* .AboutMe .Box .Text {
    width: 47%;
    margin-left: 3%;
} */

/* .AboutMe .Box .Photo {
    width: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

} */

.Me {
  width: 100%;
  height: auto;
  border-radius: 10%;
  max-width: 400px;
  animation: pulse 0.3s linear 1;
}

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}