.AboutMe {
    background-color: black;
    color: white;
}

.AboutMe .Box {
    display: flex;
}

.AboutMe .Box .Text {
    width: 47%;
    margin-left: 3%;
}

.AboutMe .Box .Photo {
    width: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

.AboutMe .Box .Photo .Me {
    height: 500px;
    border-radius: 10%;
}