.Home {
  background: rgb(50, 199, 237);
  background: linear-gradient(
    90deg,
    rgba(50, 199, 237, 1) 0%,
    rgba(21, 135, 213, 1) 35%
  );
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.Home .Container .Hello {
  font-size: 62px;
}

.Home .Container h1 {
  margin: 0;
  font-size: 25px;
}


.imageHeading {
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
    animation: pulse 0.3s linear 1; 
}

.tcImg {
    animation-name: spin;  
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}

@keyframes spin {
  from {
      transform:rotateY(0deg);
  }
  to {
      transform:rotateY(360deg);
  }
};